@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  background-color: #d4f1f4;
  font-weight: 300;
  font-family: system;
}

label {
  font-size: large;
}

.mainDiv {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 70vh;
  background-color: #023047;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
}

.crTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #219ebc;
  padding: 10px;
  border-radius: 10px;
}

.addInput {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #bdc1c6;
  outline: 0;
  font-size: 1.3rem;
  color: azure;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  margin-right: 8px;
}

.addInput::-webkit-input-placeholder {
  color: transparent;
}

.addInput:-ms-input-placeholder {
  color: transparent;
}

.addInput::-ms-input-placeholder {
  color: transparent;
}

.addInput::placeholder {
  color: transparent;
}

.addInput:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.addInput:focus {
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #11998e, #38ef7d);
     border-image: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
     border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.addBtn {
  width: 11%;
  margin-left: 8px;
  background-color: #75e6da;
}

.addBtn:hover {
  background-color: #d4f1f4;
}

.taskList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
  height: 50vh;
  list-style: none;
  overflow-y: auto;
  padding: 10px 0px 10px 0px;
}

.taskList::-webkit-scrollbar-track {
  border: 5px solid white;
  background-color: #b2bec3;
  border-radius: 10px;
}

.taskList::-webkit-scrollbar {
  width: 10px;
  background-color: #dfe6e9;
  border-radius: 10px;
}

.taskList::-webkit-scrollbar-thumb {
  background-color: #74b9ff;
  border-radius: 10px;
}

.completed__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: whitesmoke;
}

.searchBar input[type="search"] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}

.searchBar input[type="search"]:hover {
  background-color: #fff;
}

.searchBar input[type="search"]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

.searchBar input:-moz-placeholder {
  color: transparent;
}

.searchBar input::-webkit-input-placeholder {
  color: transparent;
}

.searchBar {
  position: absolute;
  left: 0;
  top: 0;
}

.searchBar input {
  outline: none;
}

.searchBar input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

.searchBar input::-webkit-search-decoration,
.searchBar input::-webkit-search-cancel-button {
  display: none;
}

.searchBar input[type="search"] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 11px;
  border-radius: 10em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.searchBar input[type="search"]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66cc75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

.searchBar input:-moz-placeholder {
  color: #999;
}

.searchBar input::-webkit-input-placeholder {
  color: #999;
}
/*# sourceMappingURL=style.module.css.map */